{
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow",
      "usePrettierrc": false,
      "fileInfoOptions": {
        "withNodeModules": true
      }
    }
  ]
}
